language: ruby
rvm:
  - 2.1.5
  - 2.2.2
env:
  - DB=sqlite
before_install:
  - gem install bundler -v 1.10.3
install:
  - bundle install
cache:
  directories:
    - vendor/bundle
before_script:
  - cp spec/dummy/config/database.def.yml spec/dummy/config/database.yml
script:
  - cd spec/dummy
  - bundle install
  - cd ../../
  - bundle exec rake
